<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Emily</title>

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap-them-min.css">
  <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="">
            <a class="navbar-brand" href="#">
              <img src="/static/images/emily.jpg" class="logo" height="43px" width="43px">
            </a>
          </span>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1> How about Emily</h1>
      <p>Hi there ,I'm Emily i like to be your freind in this tour ..enjoy it :) .</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">let's begin our history
          &raquo;</a>
      </p>
    </div>


    <h1>Welcome to Emily Bot</h1>
    <br>
    <hr>
    <br>

    <!-- <div class="row">
          <div class="col-lg-9">
            <input class="form-control" type="text" name="question" id="question">
          </div>
          <div class="col-lg-3">
            <button class="btn btn-primary btn-block" id="submit-button">Send</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <p id="response"></p>
          </div>
        </div>-->



    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">

        <div class="col-md-8 col-xl-6 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="static/images/emily.jpg" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>Chat with Emily</span>
                </div>

              </div>
              <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>

            </div>
            <div class="card-body msg_card_body">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="static/images/emily.jpg" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  Hi, how are you samim?

                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                  Hi Khalid i am good tnx how about you?

                </div>
                <div class="img_cont_msg">
                  <img src="static/images/curious.png" class="rounded-circle user_img_msg">
                </div>
              </div>
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="static/images/emily.jpg" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  I am good too, thank you for your chat template

                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                  You are welcome

                </div>
                <div class="img_cont_msg">
                  <img src="static/images/curious.png" class="rounded-circle user_img_msg">
                </div>
              </div>
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="static/images/emily.jpg" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  I am looking for your next templates

                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                  Ok, thank you have a good day

                </div>
                <div class="img_cont_msg">
                  <img src="static/images/curious.png" class="rounded-circle user_img_msg">
                </div>
              </div>
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="static/images/curious.jpg" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  Bye, see you

                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                  <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
  </div> <!-- /container -->

  <!--Some of this HTML is directly from Pavilion.  You can change it to whatever you want if you want to mimic this design.-->
  <footer class="flex-rw">

    <ul class="footer-list-top">
      <li>
        <h4 class="footer-list-header">About Emily</h4>
      </li>
      <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">a Psychology Bot</a></li>
      <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">it will help you to know more about
          yourself</a></li>
      <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">she is here for you all the time</a>
      </li>

      <li><a itemprop="significantLink" class="generic-anchor footer-list-anchor">you can tolk with here in anything</a>
      </li>


    </ul>
    <ul class="footer-list-top">
      <li>
        <h4 class="footer-list-header">About Us</h4>
      </li>


      <li><a class="generic-anchor footer-list-anchor">Ahlem Mhamdi & Rihem Zairi</a></li>
      <li><a class="generic-anchor footer-list-anchor">we are student in ISET Mahdia</a></li>
      <li><a class="generic-anchor footer-list-anchor">we build this chatbot for curious peopel</a></li>
      <li><a class="generic-anchor footer-list-anchor">in the company Alfa Computers and Consulting</a></li>
      <li><a class="generic-anchor footer-list-anchor" target="_blank">2020/2021</a></li>
    </ul>
    <ul class="footer-list-top">
      <li id='help'>
        <h4 class="footer-list-header">Please Help Me</h4>
      </li>
      <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
      <li id='find-a-store'><a class="generic-anchor footer-list-anchor" itemprop="significantLink">Facebook</a></li>
      <li id='user-registration'><a class="generic-anchor footer-list-anchor" itemprop="significantLink">Instagram</a>
      </li>
      <li id='order-tracking'><a itemprop="significantLink" class="generic-anchor footer-list-anchor">Email</a></li>
    </ul>
    <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
        CONNECT <span class="footer-social-small">with</span> US
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
        <a class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i
            class="fa fa-pinterest"></i></a>
        <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook"
          itemprop="significantLink"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter"
          itemprop="significantLink"><i class="fa fa-twitter"></i></a>
        <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram"
          itemprop="significantLink"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank"
          title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
        <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus"
          itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
      </span>
    </section>
    <section class="footer-bottom-section flex-rw">
      <div class="footer-bottom-wrapper">
        <i class="fa fa-copyright" role="copyright">

    </section>
  </footer>
  <script src="/static/js/jquery.min.js"></script>

  <script src="/static/js/bootstrap.js"></script>


  <script src="/static/js/emily_chat_bot.js"></script>
</body>

</html>